<%
# Loaded form Spree Hooks
%>

<%= f.field_container :main_price do %>
	<%= f.label :main_price, t("master_price")%> <span class="required">*</span><br />
	<%= f.text_field :main_price, :value => number_with_precision(@product.main_price, :precision => 2)  %>
	<%= f.error_message_on :main_price %>
<% end %>

<%= f.field_container :sale_price do %>
	<%= f.label :sale_price, "Sale Price" %><br />
	<%= f.text_field :sale_price, :value => number_with_precision(@product.sale_price, :precision => 2)  %>
	<%= f.error_message_on :sale_price %>
<% end %>

<script >
	// Remove the master price from the form as this is set on before_save
	jQuery(document).ready(function() {
	  $('input#product_price').parent().remove();	
	});
</script>