<% content_for :page_title do %>
  <%= Spree.t(:offers) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_offer), new_admin_offer_url, icon: 'plus', class: 'btn-success', id: 'admin_new_offer' %>
<% end %>

<% if @offers.present? && @offers.any? %>
<%= paginate @offers %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Enabled</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Pics</th>
      <th><!-- Edit --></th>
      <th><!-- Delete --></th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.enabled.yesno %></td>
        <td><%= offer.contact_tel %></td>
        <td><%= mail_to offer.contact_email %></td>
        <td><%= offer.offer_images.count %></td>
        <td><%= link_to "Edit", edit_admin_offer_url(offer) %></td>
        <td><%= link_to "Delete", admin_offer_url(offer), :method => :delete, :confirm => "Are you sure you want to delete this offer?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @offers %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Offer)) %>
    <%= link_to Spree.t(:add_one), new_admin_offer_url %>!
  </div>
<% end %>
