<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_resource_list, resource: plural_resource_name(Post)), admin_posts_url, icon: 'arrow-left', class: 'btn-success' %>
<% end %>

<div class="row">
<div class="col-lg-6">
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>
  </div>
</div>
<div class="col-lg-6">
	<%# unless f.object.new_record? #%>
		<div class="form-group">
			<%= f.label :permalink %>
			<%= f.text_field :permalink, class: 'form-control' %>
		</div>
	<%# end #%>
</div>
</div>

<div class="row">
  <div class="col-lg-6">
  	<div class="form-group">
  		<%= f.label :body %>
  		<%= f.text_area :body, class: "tinymce" %>
    </div>
  </div>
  <div class="col-lg-6">
  	<div class="form-group">
  		<%= f.label :body_extended %>
  		<%= f.text_area :body_extended, class: "tinymce" %>
  	</div>
    <%= tinymce %>
  </div>
</div>

	<div class="form-group">
		<%= f.label :post_type, "Type" %>
		<%= f.select :post_type, Post::POST_TYPES.collect{|k,v| v }, {}, { class: 'form-control' } %>
	</div>

	<div class="form-inline">
		<%= f.label :published_on %>
		<%= f.date_select :published_on, {}, { include_blank: true, class: 'form-control date-select' } %>
	</div>

</div>

<!-- <fieldset id="photo_picker" class="four columns">
	<%#= select_tag "picker_index", options_for_select(Gallery.find(:all, :order => "title").collect{|g| [g.title, g.id]}) #%>
	<div id="picker_gallery">
		<%#= render :partial => "picker_gallery", :locals => {:gallery => Gallery.find(:first, :order => "title")} #%>
	</div>
	<p>To include photos in new articles, just drag the photo into the textarea editing boxes</p>
-->
	<script>



		var addNoWatermarkHandler = function(){
			$("#picker_gallery>a").click(function(){
				$("#picker_gallery>ul>li>img").attr({
					src: function(){
						return $(this).attr('src').replace(/\/large\//,'/large_no_watermark/')
					}
				})
				//
				$(this).remove();
				return false
			})
		};

		addNoWatermarkHandler();

		$("#picker_index").change(function(){
			 $.get("/admin/posts/picker_gallery/" + $(this).val(), function(data){
				$("#picker_gallery").empty().append(data);
				addNoWatermarkHandler();
			});
		});

	</script>

</div>
