<% content_for :page_title do %>
Edit
<% end %>

<%= form_for [:admin, @post] do |f| %>

<div class="row">
  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-actions" data-hook="buttons">
   <%= button Spree.t('actions.update'), 'update', 'submit', {class: 'btn-update btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
   <span class="or"><%= Spree.t(:or) %></span>
   <%= button_link_to Spree.t('actions.cancel'), admin_post_url, icon: 'remove' %>
  </div>
</div>
<% end %>
