<% content_for :page_title do %>
Edit
<% end %>

<%= form_for [:admin, @post] do |f| %>

  <div class="row">
    <%= render :partial => "form", :locals => { :f => f } %>
  </div>

  <fieldset class="no-border-top">
       <div class="form-buttons filter-actions actions" data-hook="buttons">
       <%= f.submit %>
       <span class="or"><%= Spree.t(:or) %></span>

       <%= link_to "Cancel", admin_post_url(@post), :class => 'button' %>
      </div>
 </fieldset>

<% end %>
