<% content_for :page_title do %>
	Create Post
<% end %>

<%= form_for [:admin, @post] do |f| %>

  <div class="row">
    <%= render :partial => "form", :locals => { :f => f } %>
  </div>

  <div class="row">
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_posts_url, icon: 'remove' %>
    </div>
  </div>

<% end %>
