<div class="row">
	<%= render :partial => "shared/breadcrumb" %>
</div>

<div class="row">
	<div class="col-sm-3">
		<%= render :partial => "shared/categories" %>
	</div>

	<div class="col-sm-9">
		<div class="row">
			<%= render partial: 'reviews_widget' %>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<%= render :partial => "features_engine/features", locals: {features: @features} %>
			</div>
		</div>
		<div class="row">
			<div id="product_banner_shop_left" class="col-sm-6">
				<% if !@small_left_feature %>
					<%= image_tag "site/feature_holder_shop_small.jpg", class: 'img-responsive', alt: "" %>
				<% else %>
					<%= render :partial => "features_engine/features", locals: {img_class: 'small', features: [@small_left_feature], feature: @small_left_feature, size: :shop_small} %>
				<% end %>
			</div>

			<div id="product_banner_shop_right" class="col-sm-6">
				<% if !@small_right_feature %>
					<%= image_tag "site/feature_holder_shop_small.jpg", class: 'img-responsive', alt: "" %>
				<% else %>
					<%= render :partial => "features_engine/features", locals: {img_class: 'small', features: [@small_right_feature], feature: @small_right_feature, size: :shop_small} %>
 				<% end %>
			</div>
		</div>
	</div>
</div>
