<div class="row">
	<%= render partial: "shared/breadcrumb" %>
</div>

<div class="row">
	<div class="col-sm-3">

	<!-- <div class="btn-group btn-group-vertical" role="group" aria-label="...">
  <button type="button" class="btn btn-default">1</button>
  <button type="button" class="btn btn-default">2</button>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  </div>
</div> -->

		<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
			<li><a href="#">Regular link</a></li>
			<li class="disabled"><a href="#">Disabled link</a></li>
			<li><a href="#">Another link</a></li>
		</ul>
		<%= render partial: "shared/categories" %>
	</div>

	<div class="col-sm-9">
		<div class="row">
			<%= render partial: 'reviews_widget' %>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<%= render :partial => "features_engine/features", locals: {features: @features} %>
			</div>
		</div>
		<div class="row">
			<div id="product_banner_shop_left" class="col-sm-6">
				<% if !@small_left_feature %>
					<%= image_tag "site/feature_holder_shop_small.jpg", class: 'img-responsive', alt: "" %>
				<% else %>
					<%= render :partial => "features_engine/features", locals: {img_class: 'small', features: [@small_left_feature], feature: @small_left_feature, size: :shop_small} %>
				<% end %>
			</div>

			<div id="product_banner_shop_right" class="col-sm-6">
				<% if !@small_right_feature %>
					<%= image_tag "site/feature_holder_shop_small.jpg", class: 'img-responsive', alt: "" %>
				<% else %>
					<%= render :partial => "features_engine/features", locals: {img_class: 'small', features: [@small_right_feature], feature: @small_right_feature, size: :shop_small} %>
 				<% end %>
			</div>
		</div>
	</div>
</div>
