<div class="row">
	<div class="col-sm-3">
		<%= render :partial => "base/page_menu" %>
	</div>

	<div class="col-sm-9">

		<h1>Testimonials</h1>
		<p><%= DynamicDatum.render_by_tag "testimonials" %></p>

		<% @testimonials.each do |testimonial| %>
			<blockquote>
				<p><%= testimonial.body %></p>
				<p class="author"><cite><%= testimonial.name %></cite></p>
			</blockquote>
		<% end %>

		<%= paginate @testimonials %>

	</div>
</div>
