<div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownBasket" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="left">
      <b><span class="glyphicon glyphicon-shopping-cart"></span></b>
      Your cart:
      <b>
        <%= simple_current_order.item_count %>
        <%= 'item'.pluralize(simple_current_order.item_count) %>
      </b>
    </span>
    <b>
      <span class="glyphicon glyphicon-triangle-bottom right"></span>
    </b>
  </button>
  <ul class="dropdown-menu dark" aria-labelledby="dropdownBasket">
    <li class="row">
      <div class="col-sm-12">
        <ol>
          <% simple_current_order.line_items.each do |line_item| %>
              <li><b><%= line_item.quantity %></b> x <%= line_item.variant.name %>
                <b> <%= number_to_currency line_item.amount %></b></li>
          <% end %>
          <li class="total">
            Total: <b><%= number_to_currency simple_current_order.total %></b>
          </li>
        </ol>
      </div>
      <div class="col-sm-6">
        <%= link_to "View cart »", spree.cart_path, title: "Proceed to checkout", class: "btn cart" %>
      </div>
      <div class="col-sm-6">
        <%= link_to "Checkout »", spree.checkout_path, title: "Proceed to checkout", class: "btn checkout" %>
      </div>
    </li>
  </ul>
</div>
