<div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownBasket" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <b><span class="glyphicon glyphicon-shopping-cart"></span></b>
    Your cart:
    <b>
      <%= simple_current_order.item_count %>
      <%= 'item'.pluralize(simple_current_order.item_count) %>
      <span class="glyphicon glyphicon-triangle-bottom"></span>
      <!--<span class="glyphicon glyphicon-triangle-bottom basket_arrow"></span>-->
      <!--<span class="caret"></span>-->
    </b>
  </button>
  <ul class="dropdown-menu dark" aria-labelledby="dropdownBasket">
    <li class="row">
      <div class="col-sm-12">
        <ol>
          <% simple_current_order.line_items.each do |line_item| %>
              <li><b><%= line_item.quantity %></b> x <%= line_item.variant.name %>
                <b> <%= number_to_currency line_item.amount %></b></li>
          <% end %>
          <li class="total">
            Total: <b><%= number_to_currency simple_current_order.total %></b>
          </li>
        </ol>
      </div>
      <div class="col-sm-6">
        <%= link_to "View cart »", spree.cart_path, title: "Proceed to checkout", class: "btn cart" %>
      </div>
      <div class="col-sm-6">
        <%= button_to "Checkout »", spree.checkout_path, title: "Proceed to checkout", class: "btn btn-orange" %>
      </div>
    </li>
  </ul>
</div>