<% if @product || @taxon %>
<ol class="breadcrumb">
	<li><%= link_to "Home", root_url %> </li>
	<%
		crumbs = Array.new
		current_taxon = if @product
			@product.taxons.first
		elsif @taxon
			@taxon
		end


		unless current_taxon.nil?
			begin
				crumbs << current_taxon
			end while current_taxon = current_taxon.parent
		end
	%>

	<% if crumbs.empty? %>
		<li><%= link_to "Shop", products_url %>  </li>
	<% else %>
		<% crumbs.reverse.each do |taxon| %>
			<% case taxon.name %>
			<% when "Categories" %>
				<li><%= link_to "Shop", products_url %>  </li>
			<% else %>
				<li><%= link_to taxon.name, seo_url(taxon) %> <%= raw("") unless taxon == crumbs.first %></li>
			<% end %>
		<% end %>
	<% end %>

</ol>
<% else %>
<ol class="breadcrumb">
	<% if params[:controller] == 'spree/products' %>
		<li><%= link_to "Home", root_url %> </li>
		<li><%= link_to "Shop", main_app.shop_url %> </li>
		<li><%= link_to "All Products", main_app.shop_url %></li>
	<% else %>
		<li><%= link_to "Home", root_url %> </li>
		<li><%= link_to "Shop", main_app.shop_url %></li>
	<% end %>
</ol>
<% end %>
