<nav class="navbar col-sm-12" id="top-nav-bar">

  <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots  %>

  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
  <% if spree_current_user %>
    <li><%= link_to Spree.t('my_account'), spree.account_path, class: "" %></li>
    <li><%= link_to Spree.t('logout'), spree.destroy_spree_user_session_path, class: "" %></li>
  <% else %>
    <li><%= link_to Spree.t('log_in'), spree.login_path %></li>
  <% end %>
    <li>
      <%= site_selector(I18n.default_locale).try(:html_safe) %>
    </li>
  <li>
     <ul id="sites" class="nav navbar-right">
      <%#= site_selector_pre_spree3(I18n.default_locale).try(:html_safe) #%>
    </ul>
  </li>
  <li id="search-bar" data-hook="">
    <%= form_tag spree.products_url, :method => :get, :class => "navbar-form" do %>
      <div class="form-group">
        <!-- <%= select_tag :taxon,
              options_for_select([[t(:all_departments), '']] +
                                    @taxons.map {|t| [t.name, t.id]},
                                  @taxon ? @taxon.id : params[:taxon]) %> -->
        <%= search_field_tag :keywords, params[:keywords], class: "form-control", placeholder: "" %>
        <%= submit_tag Spree.t(:search), name: nil, title: "Search SoulPad", class: "form-control" %>
      </div>
    <% end %>
    </li>
  </ul>

</nav>
