<header id="header" data-hook="">
  <div class="container-fluid">
    <div class="bar row">
      <%= render partial: "shared/header_search" %>
      <%#= render partial: 'spree/shared/nav_bar' #%>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= link_to image_tag("site/soulpad_logo.png", :alt => "SoulPad", class: "center-block"), "/", :id => "logo" %>
      </div>
      <div class="hidden-xs col-sm-4">
        <% if (controller.controller_name == "base" && controller.action_name == "index") %>
          <h1 class="text-center">Stylish bell tents that are kind to your soul.</h1>
        <% else %>
          <h2 class="text-center">Stylish bell tents that are kind to your soul.</h2>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <ul class="contact list-group">
          <li><span><%= mail_to t(:contact_email), nil, class: 'email', target: '_blank' %></span></li>
          <li><span class="tel"><%= t :telephone %></span></li>
          <%= render :partial => "/shared/header_brochure" %>
        </ul>
      </div>
      <div class="hidden-xs col-sm-1">
        <% if uk? %>
          <%= link_to image_tag("site/free_delivery.png", :alt => "Free UK Delivery", :class => "center-block"), main_app.shipping_url, class: 'delivery', title: 'Free UK Delivery' %>
        <% elsif aus? %>
          <%= link_to image_tag("site/free_delivery_aus.png", :alt => "Free delivery to most of Australia", :class => "center-block"), main_app.shipping_url, class: 'delivery', title: 'Free delivery to most of Australia' %>
        <% elsif us? %>
          <%= link_to image_tag("site/free_delivery_usa.png", :alt => "Free delivery to most of USA", :class => "center-block"), main_app.shipping_url, class: 'delivery', title: 'Free delivery to most of USA' %>
        <% end %>
      </div>
    </div>

  </div>
</header>

<div class="container-fluid">
  <%= render :partial => "/shared/nav" %>
</div>
