<div class="navbar navgar-default">
<div class="container-fluid">
<div class="navbar-header">

<button type="button" class="navbar-toggle collapsed text-center" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
	<span class="glyphicon glyphicon-menu-hamburger">Menu</span>
</button>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul id="nav" class="nav navbar-nav">
		<li><%= link_to "Home", main_app.root_url, :class => (controller.controller_name == "base" && controller.action_name == "index") ? "active" : "parent", :title => "Return to homepage" %></li>
		<li><%= link_to "About", main_app.about_url, :class => (@selected_nav == :about ? "active" : "parent"), :title => "About SoulPad" %></li>
		<li><%= link_to "Shop", main_app.shop_url, :class => (controller.controller_name == "products" || controller.controller_name == "taxons") ? "active" : "parent", :title => "Shop SoulPad" %></li>
		<li><%#TODO= link_to "News", news_engine.posts_url, :class => (@selected_nav == :news ? "active" : "parent"), :title => "Latest news" #%></li>
		<li><%#TODO= link_to "Gallery", galleries_engine.galleries_url, :class => (@selected_nav == :gallery ? "active" : "parent"), :title => "SoulPad gallery" #%></li>
		<li><%= link_to "Projects", main_app.projects_url, :class => (@selected_nav == :projects ? "active" : "parent"), :title => "SoulPad projects" %></li>
		<li><%= link_to "Contact", main_app.contact_url, :class => (@selected_nav == :contact ? "active" : "parent"), :title => "Contact SoulPad" %></li>
		<!--<li><%#TODO= link_to "Links", links_url, :class => controller.action_name == "links" ? "active" : "" #%></li>-->
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<!-- <li><a href="#">Link</a></li> -->
		<%= render :partial => "shared/basket_summary" %>
	</ul>
</div>

</div>
</div>
</div>
