<fieldset>
	<legend>HSBC CPI Secure ePayment</legend>
	
	<table class="index">
		<thead>
			<tr>
				<th>Date</th>
				<th>Amount</th>
				<th>Currency</th>
				<th>Storefront ID</th>
				<th>Result Message</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td><%= payment.source.processed_at %></td>
				<td><%= payment.source.purchase_amount %></td>
				<td><%= payment.source.purchase_currency %></td>
				<td><%= payment.source.store_front_id %></td>
				<td><%= payment.source.results_message %></td>
			</tr>
		</tbody>
	</table>
</fieldset>