<% content_for :page_title do %>
  <%= Spree.t(:galleries) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_gallery), new_admin_gallery_url, :icon => 'icon-plus', :id => 'admin_new_gallery' %>
  </li>
<% end %>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Enabled</th>
			<th><!-- number of photos --></th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<% @galleries.each do |gallery| %>
		<tr>
			<td><%= link_to gallery.title, admin_gallery_url(gallery) %></td>
			<td><%= gallery.enabled ? "Yes" : "No" %></td>
			<td><%= gallery.photos.count %></td>
			<td><%= link_to "Delete", admin_gallery_url(gallery), :method => :delete, :confirm => "Are you sure?" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @galleries %>