<% content_for :page_title do %>
  <%= Spree.t(:features)%>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_feature), new_admin_feature_url, icon: 'plus', id: 'admin_new_feature', class: 'btn btn-success' %>
<% end %>

<% if @features.present? && @features.any? %>
<%= paginate @features %>

<table id="features" class="table">
	<thead>
		<tr>
			<th style="width:25%">Home Page / Shop Page & Location</th>
	  	<th><%= sort_link @q, :title, "Title", {:default_order =>:asc} %> / <%= sort_link @q,:description, "Description"%></th>
	    <th><%= sort_link @q, :spree_product_name, "Product" %></th>
			<th><!--edit--></th>
      <th><!--destroy--></th>
		</tr>
	</thead>
	<tbody>
		<% @features.each do |feature| %>
      <tr  class="even">
        <td colspan="3" style="padding-top:20px;">
          <% size = size || nil %> <%= image_tag feature.attachment.url(size || :main), class: 'img-responsive', alt: feature.display_title %>
        </td>
      </tr>
			<tr class="odd">
				<td>Home Page: <%= feature.enabled ? "Yes" : "No" %><br>Shop Page: <%= feature.home_enabled %></td>
		    <td><strong><%= feature.title %></strong><br><%= truncate_html feature.description, :length => 60, :omission => " ... " %></td>
		    <td><%= link_to feature.product_name, spree.product_url(feature.spree_product), :class => "more" if feature.links_to_product? %></td>
        <td class="actions text-right" data-hook="admin_pages_index_row_actions">
          <%= link_to '', edit_admin_feature_url(feature), class: 'btn btn-success btn-sm icon icon-edit with-tip', data: { 'original-title': Spree.t(:edit) } %>
          <%= link_to '', admin_feature_url(feature), class: 'btn btn-primary btn-sm icon icon-translate with-tip', data: { 'original-title': Spree.t(:display) } %>
          <%= link_to '', admin_feature_url(feature), class: 'btn btn-danger btn-sm icon icon-delete with-tip', data: { 'original-title': Spree.t(:delete) }, method: :delete, confirm: "Are you sure you want to delete this tag?" %>
        </td>
        <!-- <td><%= button_link_to Spree.t('actions.edit'), edit_admin_feature_url(feature), icon: 'edit', class: 'btn-primary btn-sm with-tip' %></td>
        <td><%= button_link_to Spree.t('actions.delete'), admin_feature_url(feature), icon: 'remove', class: 'btn-danger btn-sm with-tip', method: :delete, confirm: "Are you sure you want to delete this tag?" %></td> -->
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @features %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Feature)) %>
    <%= link_to Spree.t(:add_one), new_admin_feature_url %>!
  </div>
<% end %>
