<div class="checkbox">
  <%= label_tag 'testimonial_is_enabled' do %>
    <%= f.check_box :enabled %>
    <%= Spree.t(:enabled?) %>
  <% end %>
</div>

<div class="form-group">
	<%= f.label :name %><br />
	<%= f.text_field :name, size: 100, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :body, "Testimonial" %><br />
	<%= f.text_area :body, cols: 100, rows: 15, class: 'form-control' %>
</div>
