<% content_for :page_title do %>
  <%= link_to Spree.t(:testimonials), admin_testimonials_url %> /
  <%= Spree.t(:new_testimonial) %>
<% end %>


<%= form_for [:admin, @testimonial] do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), admin_testimonials_url, icon: 'remove' %>
  </div>

<% end %>
