<div class="container bar">
  <div class="row">
    <div class="col-xs-12">
      <% render partial: 'spree/shared/bar'%>
    </div>
  </div>

  <div id="spree-header">

  <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'spree/shared/nav_bar' %>
        <ul id="sites">
          <% site_selector(I18n.default_locale).html_safe %>
        </ul>
      </div>
  </div>
  <div class="row">
      <header id="header" data-hook>
        <div class="container">

          <div class="row">
            <!-- <figure id="logo" class="col-xs-6" data-hook>
              <%#= logo #%>
            </figure> -->
            <div class="col-xs-12 col-sm-4 text-center">
              <a href="/" id="">
                <%= image_tag("site/soulpad_logo.png", alt: "SoulPad", class: 'img-fluid') %>
              </a>
              <% link_to image_tag("site/soulpad_logo.png", alt: "SoulPad", class: 'img-fluid logo'), "/", id: "logo" %>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
              <%= link_to image_tag("site/soulpad_description_since_2007.jpg", class: 'img-fluid', alt: "Stylish bell tents that are kind to your soul."), "/", id: "logo2" %>
            </div>
            <div class="col-xs-12 col-sm-3">
              <ul class="contact">
                <li><%= mail_to t(:contact_email), nil, class: 'email', target: '_blank' %></li>
                <li><span class="tel"><%= t :telephone %></span></li>
                <%= render :partial => "spree/shared/header_brochure" %>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-1 text-center">
              <% if uk? %>
                <%= link_to image_tag("site/free_delivery.png", :alt => "Free UK Delivery", :class => "png"), main_app.try(:shipping_url), class: 'delivery', title: 'Free UK Delivery' %>
              <% elsif aus? %>
                <%= link_to image_tag("site/free_delivery_aus.png", :alt => "Free delivery to most of Australia", :class => "png"), main_app.try(:shipping_url), class: 'delivery', title: 'Free delivery to most of Australia' %>
              <% elsif us? %>
                <%= link_to image_tag("site/free_delivery_usa.png", :alt => "Free delivery to most of USA", :class => "png"), main_app.try(:shipping_url), class: 'delivery', title: 'Free delivery to most of USA' %>
              <% end %>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <%= render partial: 'spree/shared/main_nav_bar' %>
      </div>
    </div>
  </div>

</div>
