<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_resource_list, resource: plural_resource_name(DynamicDatum)), admin_dynamic_data_path, icon: 'arrow-left', class: 'btn-primary' %>
<% end %>

<div class="col-xs-12 col-sm-8">
	<div class="form-group">

		<div>
			<%= f.label :tag %>
			<%= f.text_field :tag, class: 'form-control' %>
		</div>

		<div>
			<%= f.label :data %>

			<%= f.text_area :data, class: 'form-control tinymce' %>
	    <%= tinymce %>
		</div>

	</div>
</div>
<div class="col-xs-12 col-sm-4">
	<div id="photo_picker" class="form-group">
		<%#= select_tag "picker_index", options_for_select(Gallery.find(:all, :order => "title").collect{|g| [g.title, g.id]}) #%>
		<div id="picker_gallery">
			<%#= render :partial => "picker_gallery", :locals => {:gallery => Gallery.find(:first, :order => "title")} #%>
		</div>
		<p>To include photos in new articles, just drag the photo into the textarea editing boxes</p>

		<script>

	    var addNoWatermarkHandler = function(){
				$("#picker_gallery>a").click(function(){
					$("#picker_gallery>ul>li>img").attr({
						src: function(){
							return $(this).attr('src').replace(/\/large\//,'/large_no_watermark/')
						}
					})
					//
					$(this).remove();
					return false
				})
			};

			addNoWatermarkHandler();

			$("#picker_index").change(function(){
				 $.get("/admin/posts/picker_gallery/" + $(this).val(), function(data){
					$("#picker_gallery").empty().append(data);
					addNoWatermarkHandler();
				});
			});
		</script>

	</div>
</div>
