<% content_for :page_title do %>
Edit
<% end %>

<%= form_for [:admin, @dynamic_datum] do |f| %>

  <div class="row">
    <%= render :partial => "form", :locals => { :f => f } %>
  </div>

  <!-- <fieldset class="no-border-top">
       <div class="form-buttons filter-actions actions" data-hook="buttons">
       <%= f.submit %>
       <span class="or"><%= Spree.t(:or) %></span>

       <%= link_to "Cancel", admin_dynamic_data_url, class: 'btn btn-default', icon: 'delete' %>
      </div>
 </fieldset> -->
 <div class="form-actions" data-hook="buttons">
   <%= button Spree.t('actions.update'), 'refresh', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
   <span class="or"><%= Spree.t(:or) %></span>
   <%= button_link_to Spree.t('actions.cancel'), admin_dynamic_data_url, icon: 'remove' %>
 </div>

<% end %>
