<h1>Create Dynamic Datum</h1>

<%= form_for [:admin, @dynamic_datum] do |f| %>

  <div class="row">
    <%= render :partial => "form", :locals => { :f => f } %>
  </div>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), admin_dynamic_data_url, icon: 'remove' %>
  </div>

<% end %>
