<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body id="soulpad">
    <div id="container">
      <div id="spree-header">
        <%= render "custom/spree_header" %>
        <% render partial: 'shared/header' %>

      </div>
      <div class="container">
        <%= render "custom/spree_container" %>
      </div>
      <div class="container-fluid social_network">
        <div class="row">
          <%= render "shared/social_network" %>
        </div>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
